[submodule "Microsoft.VisualStudio.Validation"]
	path = Microsoft.VisualStudio.Validation
	url = https://mseng.visualstudio.com/DefaultCollection/VSIDEProj/_git/VSIDEProj.Validation
[submodule "Razzle"]
	path = Razzle
	url = https://mseng.visualstudio.com/DefaultCollection/VSIDEProj/_git/VSIDEProj.RazzleDependencies
