trigger:
  branches:
    include: ["master", "v15.8"]
  paths:
    exclude: ["doc", "*.md"]

variables:
  TreatWarningsAsErrors: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  BuildConfiguration: Release
  BuildPlatform: Any CPU
  codecov_token: bfce293b-9f33-43bb-be7f-c1a4ed2b518d

resources:
  containers:
  - container: xenial
    image: andrewarnott/linux-buildagent

jobs:
- job: Windows
  pool: Hosted VS2017
  steps:
  - template: azure-pipelines/build.yml

- job: Linux
  pool:
    vmImage: Ubuntu 16.04
  container: xenial
  steps:
  - template: azure-pipelines/testfx.yml
    parameters:
      projectdirectory: src/tests/Microsoft.VisualStudio.Composition.Tests
      testlogartifactname: linux_testlogs

- job: macOS
  pool:
    vmImage: macOS 10.13
  steps:
  - template: azure-pipelines/testfx.yml
    parameters:
      projectdirectory: src/tests/Microsoft.VisualStudio.Composition.Tests
      testlogartifactname: macOS_testlogs
