trigger:
  branches:
    include: ["main", "v*"]
  paths:
    exclude: ["doc", "*.md"]

variables:
  TreatWarningsAsErrors: true
  UpdateXlfOnBuild: false # force build breaks if xlf files aren't updated on dev box with resx changes
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  BuildConfiguration: Release
  BuildPlatform: Any CPU
  codecov_token: bfce293b-9f33-43bb-be7f-c1a4ed2b518d
  NUGET_PACKAGES: $(Agent.TempDirectory)/.nuget/packages

jobs:
- job: Windows
  pool: Hosted Windows 2019 with VS2019
  steps:
  - template: azure-pipelines/build.yml

- job: Linux
  pool:
    vmImage: Ubuntu 16.04
  steps:
  - template: azure-pipelines/testfx.yml
    parameters:
      projectdirectory: test/Microsoft.VisualStudio.Composition.Tests
      testlogartifactname: linux_testlogs

- job: macOS
  pool:
    vmImage: macOS-10.15
  steps:
  - template: azure-pipelines/testfx.yml
    parameters:
      projectdirectory: test/Microsoft.VisualStudio.Composition.Tests
      testlogartifactname: macOS_testlogs
