<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.Immutable" version="1.1.22-beta" targetFramework="portable-net45+win" />
  <package id="Microsoft.Composition" version="1.0.20" targetFramework="portable-net45+win" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.20" targetFramework="portable-net45+win" />
</packages>