<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.Immutable" version="1.1.22-beta" targetFramework="net451" />
  <package id="Microsoft.Composition" version="1.0.20" targetFramework="net451" />
  <package id="xunit" version="1.9.2" targetFramework="net451" />
  <package id="xunit.runner.visualstudio" version="0.99.2" targetFramework="net451" />
</packages>