<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Composition" version="1.0.27" targetFramework="net451" userInstalled="true" />
  <package id="Microsoft.VisualStudio.Validation" version="14.0.0-pre-95a85e9492" targetFramework="net451" userInstalled="true" />
  <package id="StyleCop.Analyzers" version="1.0.0-alpha005" targetFramework="net451" userInstalled="true" developmentDependency="true" />
  <package id="System.Collections.Immutable" version="1.1.33-beta" targetFramework="net451" userInstalled="true" />
  <package id="System.Reflection.Metadata" version="1.0.18-beta" targetFramework="net451" userInstalled="true" />
</packages>