trigger:
  branches:
    include: ["master", "v*"]
  paths:
    exclude: ["doc", "*.md"]
pr: none

variables:
  TreatWarningsAsErrors: true
  UpdateXlfOnBuild: false # force build breaks if xlf files aren't updated on dev box with resx changes
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  BuildConfiguration: Release
  BuildPlatform: Any CPU
  NUGET_PACKAGES: $(Agent.TempDirectory)/.nuget/packages

jobs:
- job: Windows
  pool: VSEng-MicroBuildVS2019
  steps:
  - template: build.yml
